*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.container{
    width: 90%;
    margin: auto;
}
.py1{
    padding: 2rem 0 4rem 0;
}
.pt{
    padding-top: 2rem;
}
.pt2{
    padding-top: .5rem;
}
.pb{
    padding-bottom: 1rem;
}
table, th, td{
    border: 1px solid black;
}
.grid2{
    display: grid;
    grid-template-columns: 47% 47%;
    gap: 6%;
}
.grid{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
}
.card{
    width: 200px;
    height: 250px;
    border: 1px solid brown;
}
.card-img{
    width: 100%;
    height: 80%;
    background: blue;
}
.img{
    width: 100%;
    height: 100%;   
}
.lh{
    line-height: 1.5;
}
footer{
    width: 100%;
    text-align: center;
}